.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movies {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movies .movie {
  width: 40%;
  background-color: white;
  margin: 30px;
  display: flex;
  box-shadow: 0px 5px 8px grey;
}

.movie a {
  display: flex;
  text-decoration: none;
}

.movie img {
  position: relative;
  max-width: 200px;
  max-height: 200px;
  margin: 20px;
  top: -40px;
  box-shadow: 0px 0px 8px grey;
}

.movie_data {
  color: #a5a5a5;
}

.movie_title {
  margin: 5px;
  color: black;
}

.movie_year {
  margin: 5px;
}

.movie_genre {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 5px;
  word-break: break-all;
}
.movie_genre li {
  margin-right: 10px;
}

.movie_summary {
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 20px;
}
